# Environment and secrets
.env
pytest.ini
certs/
.git/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
myenv/
env/
.env/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Logs
*.log
logs/
